In [1]:
pip install pandas matplotlib seaborn

Requirement already satisfied: pandas in c:\users\madeeha\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\madeeha\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\users\madeeha\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\madeeha\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\madeeha\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\madeeha\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\madeeha\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\madeeha\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\madeeha\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\madeeha\anaconda3\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\madeeha\anaconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\madeeha\anaconda3\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\madeeha\anaconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\madeeha\anaconda3\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\madeeha\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# ----------------------------------------------------------
# 📊 Sales Data Analysis Project
# ----------------------------------------------------------

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Optional: display plots inside notebook
%matplotlib inline

# ----------------------------------------------------------
# STEP 1: Check Current Folder & Files
# ----------------------------------------------------------

# This shows where the notebook is running and what files are inside
print("📂 Current Directory:", os.getcwd())
print("📄 Files in Directory:", os.listdir())

# Make sure your 'sales_data.csv' file is in this folder
# or update the path below to the correct file location
file_path = "sales_data_sample.csv"

# ----------------------------------------------------------
# STEP 2: Load Dataset
# ----------------------------------------------------------

data = pd.read_csv(file_path, encoding='latin1')
print("✅ Data loaded successfully!")
print("Shape:", data.shape)
display(data.head())

# ----------------------------------------------------------
# STEP 3: Data Cleaning
# ----------------------------------------------------------

# Check for missing values
print("\n🧼 Missing Values:")
print(data.isnull().sum())

# Drop rows with missing values (or you can fill them)
data = data.dropna()

# Remove duplicate rows if any
data = data.drop_duplicates()

print("\n✅ Data after cleaning:", data.shape)

# ----------------------------------------------------------
# STEP 4: Dataset Overview
# ----------------------------------------------------------

print("\n📋 Dataset Info:")
print(data.info())

print("\n📊 Summary Statistics:")
print(data.describe())

# ----------------------------------------------------------
# STEP 5: Date Handling (if column exists)
# ----------------------------------------------------------

# Some versions of the dataset have 'OrderDate' column
if 'OrderDate' in data.columns:
    data['OrderDate'] = pd.to_datetime(data['OrderDate'])
    data['Month'] = data['OrderDate'].dt.to_period('M')
    print("\n📅 Converted OrderDate to datetime format")
else:
    print("\n⚠️ 'OrderDate' column not found - skipping date conversion")

# ----------------------------------------------------------
# STEP 6: Total Sales by Country
# ----------------------------------------------------------

if 'Country' in data.columns and 'Sales' in data.columns:
    sales_by_country = data.groupby('Country')['Sales'].sum().sort_values(ascending=False)
    print("\n💰 Total Sales by Country:")
    print(sales_by_country)

    plt.figure(figsize=(10,5))
    sales_by_country.plot(kind='bar', color='skyblue')
    plt.title('Total Sales by Country')
    plt.xlabel('Country')
    plt.ylabel('Total Sales')
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

# ----------------------------------------------------------
# STEP 7: Monthly Sales Trend
# ----------------------------------------------------------

if 'Month' in data.columns and 'Sales' in data.columns:
    monthly_sales = data.groupby('Month')['Sales'].sum()
    plt.figure(figsize=(12,6))
    monthly_sales.plot(marker='o', color='green')
    plt.title('Monthly Sales Trend')
    plt.xlabel('Month')
    plt.ylabel('Total Sales')
    plt.grid(True)
    plt.tight_layout()
    plt.show()

# ----------------------------------------------------------
# STEP 8: Product-wise Sales
# ----------------------------------------------------------

if 'Productline' in data.columns:
    product_sales = data.groupby('Productline')['Sales'].sum().sort_values(ascending=False)
    print("\n🛍️ Total Sales by Product Line:")
    print(product_sales)

    plt.figure(figsize=(8,5))
    sns.barplot(x=product_sales.values, y=product_sales.index, palette='viridis')
    plt.title('Total Sales by Product Line')
    plt.xlabel('Total Sales')
    plt.ylabel('Product Line')
    plt.tight_layout()
    plt.show()

# ----------------------------------------------------------
# STEP 9: Save Cleaned Data
# ----------------------------------------------------------

data.to_csv('cleaned_sales_data.csv', index=False)
print("\n💾 Cleaned data saved as 'cleaned_sales_data.csv'")

📂 Current Directory: C:\Users\Madeeha\Desktop\New folder (2)\archive (2)
📄 Files in Directory: ['.ipynb_checkpoints', 'sales_data_sample.csv', 'Untitled.ipynb']
✅ Data loaded successfully!
Shape: (2823, 25)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

🧼 Missing Values:
ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

✅ Data after cleaning: (147, 25)

📋 Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, 10 to 2791
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       147 non-null    int64
 1   QUANTITYORDERED   147 non-null    int64
 2   PRICEEACH         147 non-null    float64
 3   ORDERLINENUMBER   147 non-null    int64
 4   SALES             147 non-null    float64
 5   ORDERDATE         147 non-null    object
 6   STATUS            147 non-null    object
 7   QTR_ID            147 non-null    int64
 8   MONTH_ID          147 non-null    int64
 9   YEAR_ID           147 non-null    int64
 10  PRODUCTLINE       147 non-null    object
 11  MSRP              147 non-null    int64
 12  PRODUCTCODE       147 non-null    object
 13  CUSTOMERNAME      147 non-null    object
 14  PHONE             147 non-null    object
 15  ADDRESSLINE1      147 non-null    object
 16  ADDRESSLINE2      147 non-null    object
 17  CITY              147 non-null    object
 18  STATE             147 non-null    object
 19  POSTALCODE        147 non-null    object
 20  COUNTRY           147 non-null    object
 21  TERRITORY         147 non-null    object
 22  CONTACTLASTNAME   147 non-null    object
 23  CONTACTFIRSTNAME  147 non-null    object
 24  DEALSIZE          147 non-null    object
dtypes: float64(2), int64(7), object(16)
memory usage: 29.9+ KB
None

📊 Summary Statistics:
        ORDERNUMBER  QUANTITYORDERED   PRICEEACH  ORDERLINENUMBER  \
count    147.000000       147.000000  147.000000       147.000000
mean   10268.204082        33.986395   84.138639         6.673469
std      106.742036         9.740458   19.897255         3.830596
min    10120.000000        15.000000   26.880000         1.000000
25%    10148.000000        26.000000   66.390000         3.000000
50%    10270.000000        33.000000   98.050000         6.000000
75%    10361.000000        41.000000  100.000000        10.000000
max    10420.000000        66.000000  100.000000        15.000000

             SALES      QTR_ID    MONTH_ID      YEAR_ID        MSRP
count   147.000000  147.000000  147.000000   147.000000  147.000000
mean   3446.003537    2.673469    6.986395  2003.863946  100.632653
std    1717.988835    1.171367    3.734303     0.746127   40.046562
min     652.350000    1.000000    1.000000  2003.000000   33.000000
25%    2249.005000    2.000000    4.000000  2003.000000   70.000000
50%    3160.740000    3.000000    7.000000  2004.000000   99.000000
75%    4410.060000    4.000000   11.000000  2004.000000  121.000000
max    9774.030000    4.000000   12.000000  2005.000000  214.000000

⚠️ 'OrderDate' column not found - skipping date conversion

💾 Cleaned data saved as 'cleaned_sales_data.csv'